<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col col--large-8 col--large-offset-2">

				<biotope-boilerplate data-load-web-component="resources/components/content/boilerplate/Boilerplate.js"></biotope-boilerplate>

			</div>
		</div>
	</section>
</div>
