<div data-resources="[{paths: ['ts/jquery.plugin.simple.js']}]" data-init="(function($elm) { $elm.simple(); })">
	Conditional loading simple TypeScript plugin...
</div>

<div data-resources="[{paths: ['ts/jquery.plugin.advanced.js']}]" data-init="(function($elm) { $elm.advanced().trigger('init.advanced'); })">
	Conditional loading advanced TypeScript plugin...
</div>
