<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">
				<h1>Full Iconset</h1>

				{{#each data.icons }}
					{{bioHelperInclude 'components/icons/icon' iconName=this}}
				{{/each}}
			</div>
		</div>
	</section>
</div>
