<!-- partial block with lookup helper -->
<div style="border: 1px dashed #f00; padding: 10px;">
	<h3>other partial with lookup helper</h3>

	{{#each this.childContext}}
		{{bioInclude (lookup . 'partial') childContext=this.childContext }}
	{{/each}}
</div>
