/*.iml
/.idea
/.tmp
/.dev
/.iconfont
/.awcache
/__\[gruntbuild\]
/__\[viftf\]
/_assets
app/resources/bower_components
/bower_components
/dist
/nbproject
/node_modules
/npm-debug.log
.DS_Store
/typings
yarn-error.log
