<div class="fileStructure component"
	 data-resources="[{paths: ['components/demoFileStructure/scss/test.css', 'components/demoFileStructure/test.css'] }]"
	 data-init=""
>
	{{> components/demoFileStructure/hbs/demo fileStructureText="Simple Demo to preview the file structure of the framework"}}
	{{> components/demoFileStructure/hbs/demo
		somePartial="components/headlineH1/headline.h1.overline"
		headline="eine andere Überschrift"
	}}

	{{include 'components/demoFileStructure/hbs/demo'
		somePartial="components/headlineH1/headline.h1.overline"
		headline="eine andere Überschrift"
		parent=this
	}}

	{{data.components.demoFileStructure.fileStructure.someTestData}}

</div>
