<div class="fileStructure component"
	 data-resources="[{paths: ['components/demoFileStructure/scss/test.css', 'components/demoFileStructure/test.css'] }]"
	 data-init=""
>
	{{> components/demoFileStructure/hbs/demo fileStructureText="Simple Demo to preview the file structure of the framework"}}
	{{> components/demoFileStructure/hbs/demo}}

	{{data.components.demoFileStructure.fileStructure.someTestData}}
</div>
