<div class="col col--large-8">

	<!-- DEV-note: CONTENT AREA! -->
	<span style="display:block; background-color:#06c; padding:5px; width:100%; color:#fff; min-height:100px;">
		{{#if headline }}
			<h2 style="color: #fff">{{ headline }}</h2>
		{{else}}
			66.7% width - 8 grid-cells wide
		{{/if}}
	</span>

</div>
<div class="col col--large-4">

	<!-- DEV-note: CONTENT AREA! -->
	<span style="display:block; background-color:#06c; padding:5px; width:100%; color:#fff; min-height:100px;">
		{{#if headline }}
			<h2 style="color: #fff">{{headline }}</h2>
		{{else}}
			33.3% width - 4 grid-cells wide
		{{/if}}
	</span>

</div>
