<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col col--large-8 col--large-offset-2">

				<simple-component data-load-web-component="resources/components/content/simpleWebComponent/SimpleComponent.js"></simple-component>
				<simple-component data-load-web-component="resources/components/content/simpleWebComponent/SimpleComponent.js"></simple-component>
				<simple-component data-load-web-component="resources/components/content/simpleWebComponent/SimpleComponent.js"></simple-component>

			</div>
		</div>
	</section>
</div>
