/* clearfix */
@mixin clearfix() {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

// Grid mixins
@mixin make-grid-columns($class, $breakpoint, $grid-columns: 12) {
  @include breakpoint($breakpoint) {
    @for $i from 1 through $grid-columns {
      .#{$class}-#{$i} {
        @include span($i);
      }

      .#{$class}-offset-#{$i} {
        @include push($i);
      }
    }

    .hidden-#{$class} {
      display: none;
    }
  }
}
