<p class="fileStructure__text">
	{{def fileStructureText 'default text not overwritten'}}
</p>

<!-- partial block with lookup helper -->
{{#> (lookup . 'somePartial') }}
	<h3>
		Failover Content if no partials is passed.
	</h3>
	<p>Can also contain another partial</p>
	{{> components/headlineH1/headline.h1.overline }}
{{/undefined}}

<!-- define inline partial -->
{{#*inline "myPartial"}}
	<p>{{this}}</p>
{{/inline}}
<!-- execute inline partial -->
{{#each data.components.demoFileStructure.fileStructure.children}}
	{{> myPartial}}
{{/each}}
