<div style="border: 1px dashed #00f; padding: 10px;">

<h3>partial block with lookup helper and failover content</h3>

{{#each childContext}}
	{{#> (lookup . 'partial') childContext=this.childContext }}
		failover content
	{{/undefined}}
{{/each}}

</div>
