<h3>{{def headline "Default test2 headline"}}</h3>
<ul>
    {{#each items}}
        <li>{{itemText}}</li>
    {{else}}
        <li>Default list item2</li>
        <li>Another default list item2</li>
    {{/each}}
</ul>
