$offcanvas-max-width: 2000px;
$offcanvas-area-width: 300px;
$offcanvas-area-z-index: 1001;
$offcanvas-exit-z-index: 1002;
$offcanvas-transition: transform 400ms ease-out 0s;

.offcanvas {

    @media (max-width: $offcanvas-max-width) {
        position: relative;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    &__inner {
        @media (max-width: $offcanvas-max-width) {
            position: relative;
            transition: $offcanvas-transition;
            transform: translate3d(0, 0, 0);
        }
    }

    &__area {
        &--left,
        &--right {
            display: none;

            @media (max-width: $offcanvas-max-width) {
                position: absolute;
                display: block;
                width: $offcanvas-area-width;
                bottom: 0;
                top: 0;
                overflow-x: hidden;
                overflow-y: auto;
                transition: $offcanvas-transition;
                z-index: $offcanvas-area-z-index;

                background-color: #ccc;
            }
        }

        &--left {
            left: -$offcanvas-area-width;
        }

        &--right {
            right: -$offcanvas-area-width;
        }
    }

    &__exit {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: $offcanvas-exit-z-index;
        cursor: pointer;
        background: transparent;
        -webkit-tap-highlight-color: transparent; /* For some Androids */
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    &--show-left,
    &--show-right {
        &.offcanvas--fixed-height {
            > .offcanvas__inner {
                height: 100vh;
            }
        }

        > .offcanvas__inner {
            > .offcanvas__exit {
                display: block;
            }
        }
    }

    &--show-left {
        > .offcanvas__inner {
            transform: translate3d($offcanvas-area-width, 0px, 0px);
        }
    }

    &--show-right {
        > .offcanvas__inner {
            transform: translate3d(-$offcanvas-area-width, 0px, 0px);
        }
    }
}
