<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">

				<{{dashCase name}}-component data-load-web-component="resources/components/{{name}}/{{name}}.js"></{{dashCase name}}>

			</div>
		</div>
	</section>
</div>
