{{= ftf.include("includes/htmltag.html") }}
<head>
	{{= ftf.include("includes/htmlhead.meta.html") }}

	<!-- inject:head:html -->
	<!-- endinject -->

	<!-- DEV-note: include page specific meta information after this comment -->

	{{= ftf.include("includes/htmlhead.styles.html") }}
	{{= ftf.include("includes/htmlhead.scripts.html") }}

	<!-- DEV-note: include page specific styles and scripts after this comment -->
	{{# partial.conditionalResources || ''}}
</head>
<body role="document" class="{{# partial.bodyClass || '' }}">

    <div class="offcanvas offcanvas--fixed-height layout--default">
        <div class="offcanvas__inner">

            {{= ftf.include("framework/header.html") }}
            <main class="content">
                <article>
                    {{= ftf.include( partial.contentMain ) }}
                </article>
            </main>
            {{= ftf.include("framework/footer.html") }}

            <div class="offcanvas__area offcanvas__area--left"> LEFT OFFCANVAS AREA </div>
            <div class="offcanvas__area offcanvas__area--right"> RIGHT OFFCANVAS AREA </div>
            <a class="offcanvas__exit"></a>

        </div>
    </div>

	<!-- DEV-note: optional offsite content that is independent from normal content flow  -->
	{{? partial.contentOffsite }}
		{{= ftf.include( partial.contentOffsite ) || '' }}
	{{?}}

	{{= ftf.include("includes/scripts.html") }}
	{{= ftf.include("includes/tracking.html") }}
	<!-- DEV-note: include page specific scrips after this comment -->
</body>
</html>
