<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col col--large-8 col--large-offset-2">

				<slider-component data-load-web-component="resources/components/content/slider/index.js"></slider-component>

			</div>
		</div>
	</section>
</div>
