<h1>Easy Handlebars List</h1>
<ul>
    {{#each people}}
        <li>{{firstName}} {{lastName}}</li>
    {{/each}}
</ul>

<h2>Helper Test</h2>
<p>{{#compare people "!==" "1"}}Test succeeded!{{/compare}}</p>
{{> hbs/_demoPartial content="foo"}}
