<div class="section">
    <section>
        <div class="row row--reducedWidth">
            <div class="col col--medium-8">
                <h2>Primary Button</h2>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px" primary>
                </x-button>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px" primary
                    disabled></x-button>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px" primary>
                </x-button>
            </div>
        </div>

        <div class="row row--reducedWidth">
            <div class="col col--medium-8">
                <h2>Secondary Button</h2>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px"
                    secondary></x-button>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px"
                    secondary disabled></x-button>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px"
                    secondary></x-button>
            </div>
        </div>

        <div class="row row--reducedWidth">
            <div class="col col--medium-8">
                <h2>Tertiary Button</h2>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px"
                    tertiary></x-button>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px" tertiary
                    disabled></x-button>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px"
                    tertiary></x-button>
            </div>
        </div>

        <div class="row row--reducedWidth">
            <div class="col col--medium-8">
                <h2>Conversion Button</h2>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px"
                    conversion></x-button>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px"
                    conversion disabled></x-button>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px"
                    conversion></x-button>
            </div>
        </div>

        <div class="row row--reducedWidth">
            <div class="col col--medium-8">
                <h2>Button Text</h2>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px" text>
                </x-button>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px" text
                    disabled></x-button>
            </div>
        </div>

        <div class="row row--reducedWidth">
            <div class="col col--medium-8">
                <h2>Link Button</h2>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px" primary
                    type="link"></x-button>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px"
                    secondary type="link"></x-button>
                <x-button data-resources="[{paths : ['components/XButton/index.js']}]" style="margin-top: 20px" tertiary
                    type="link"></x-button>
            </div>
        </div>

    </section>
</div>g