
@mixin __host-base {
  overflow: auto;
  display: block;

  &,
  > * {
    box-sizing: border-box;
  }
}

@mixin host($component-name) {
  #{$component-name} {
    @include __host-base;
    @content;
  }

  :host {
    @include __host-base;
    @content;
  }
}
