<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">
				<h1>Test of multiple handlebars include / partial / variable helper</h1>
				{{bioInclude 'components/demoFileStructure/fileStructure' }}
			</div>
		</div>
	</section>
</div>
