<div class="myComponent">
    <div class="myComponent__title">
        <h1>Hello World</h1>
    </div>
    <div class="myComponent__content">
        texttexttext
    </div>
    <div class="myComponent__button">
        <button>See more</button>
    </div>
</div>