{{> includes/htmltag }}
<head>
	{{> includes/htmlhead.meta }}

	<!-- inject:head:html -->
	<!-- endinject -->

	<!-- DEV-note: include page specific meta information after this comment -->

	{{> includes/htmlhead.styles }}
	{{> includes/htmlhead.scripts }}

	<!-- DEV-note: include page specific styles and scripts after this comment -->

</head>
<body role="document" class="{{bodyClass}}">

    <div class="offcanvas offcanvas--fixed-height layout--default">
        <div class="offcanvas__inner">

            {{> framework/header }}
            <main class="content">
                <article>
					{{> (lookup . 'contentMain') }}
                </article>
            </main>
            {{> framework/footer }}

            <div class="offcanvas__area offcanvas__area--left"> LEFT OFFCANVAS AREA </div>
            <div class="offcanvas__area offcanvas__area--right"> RIGHT OFFCANVAS AREA </div>
            <a class="offcanvas__exit"></a>

        </div>
    </div>

	{{> includes/scripts }}
	{{> includes/tracking }}
	<!-- DEV-note: include page specific scrips after this comment -->
</body>
</html>
