<meta charset="utf-8">

<!-- Use the .htaccess and remove these lines to avoid edge case issues. More info: h5bp.com/b/378 -->
<!-- DEV NOTE: whenever possible set the HTTP-Header for X-UA-Compatible too to avoid problems with intranet zones -->
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{{@file.data.frontMatter.title}}</title>
<meta name="description" content="include meta description here">

<!-- Mobile viewport optimized: h5bp.com/viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
<meta name="msapplication-tap-highlight" content="no">
<!-- do not detect phone numbers -->
<meta name="format-detection" content="telephone=no">

<meta property="og:title" content="use same as page title">
<meta property="og:description" content="use same as meta description">
<meta property="og:type" content="website">

<!--DEV-NOTE: next two exntries are optional. define a custom share image and URL or remove this two lines -->
<meta property="og:url" content="">
<meta property="og:image" content="">
