<div 
  class="page"
  data-resources="[{paths:['components/page/styles/index.page.css', 'components/page/ts/index.page.js']}]"
  data-init="(function($elm) { $elm.pageComponent() })"
>

{{bioInclude 'components/cards/index.cards'}}

{{bioInclude 'components/overlay/index.overlay'}}

</div>