<div class="accordion__panel {{classVariant}}">
	<h3 class="accordion__title">
		<a href="#" class="accordion__titleLink">{{def headline "Panel headline missing"}}</a>
	</h3>
	<div class="accordion__content">
		{{#each panelContext}}
			{{#> (lookup . 'component') componentContext=this.componentContext }}
				<p style="color: red; font-weight: bold; font-size: 24px;">No component partial found! Fix partial name or add a default behaviour!</p>
			{{/undefined}}
		{{/each}}
	</div>
</div>
