<div
  class="overlay"
  data-resources="[{paths:['components/overlay/styles/index.overlay.css', 'components/overlay/ts/index.overlay.js']}]"
  data-init="(function($elm) { $elm.overlayComponent() })"
>

</div>