html,
body {
  height: 100%;
  min-width: $body-min-width;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $body-font-family;
  background-color: $body-bg;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $black-90;
  min-width: $body-min-width;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

footer {
  height: 40px;
}

.layout {
  &--default {
    margin: 0;
  }
}

.medium-up {
  display: none;
  @include breakpoint(768px) {
    display: block;
  }
}

.content {
  @include clearfix();

  //Special padding for the soft layout with actionbar this leads to an end up margin of 80px on the page
  &--soft {
    padding-bottom: 141px;
  }
}
