<div class="fileStructure component"
	 data-resources="[{paths: ['components/demo.fileStructure/scss/test.css', 'components/demo.fileStructure/test.css'] }]"
	 data-init=""
>
	{{> components/demo.fileStructure/hbs/demo fileStructureText="Simple Demo to preview the file structure of the framework"}}
	{{> components/demo.fileStructure/hbs/demo}}

	{{data.components.demoFileStructure.fileStructure.someTestData}}
</div>
