<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">
				{{> components/headlineH1/headline.h1.overline }}
				{{> components/leadtext/leadtext }}
			</div>
		</div>
	</section>
</div>
