<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">
				{{bioInclude 'components/headlineH1/headline.h1.overline' }}
				{{bioInclude 'components/leadtext/leadtext' }}
			</div>
		</div>
	</section>
</div>
