@mixin icon-styles {
	position: relative;
	font-family: "Icons";
	font-size: 68%;
	line-height: 1;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	speak: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin icon-special-treatment($filename) {
	// add default modifications to specific icons here

	//@if $filename == "chevron-right" {
	//    font-size: 40%;
	//}
}

@mixin icon($filename, $extend: false, $special: true) {
	@if $extend {
		@include icon-styles;
	}

	content: icon-char($filename);

	@if $special {
		@include icon-special-treatment($filename);
	}
}