<h1>Accordion with multiple panels</h1>

<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">
				{{include 'components/accordion/accordion'
						  json='data.components.accordion.scaffolding.accordionVariant1'
				}}
			</div>
		</div>
	</section>
</div>

<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">
				{{include 'components/accordion/accordion'
						  json='data.components.accordion.scaffolding.accordionVariant2'
				}}
			</div>
		</div>
	</section>
</div>
