<div class="col col--large-4">

	<!-- DEV-note: CONTENT AREA! -->
	<span style="display:block; background-color:#06c; padding:5px; width:100%; color:#fff; min-height:100px;">
		33.3% width - 3 content columns per row - 4 grid-cells wide
	</span>

</div>
<div class="col col--large-4">

	<!-- DEV-note: CONTENT AREA! -->
	<span style="display:block; background-color:#06c; padding:5px; width:100%; color:#fff; min-height:100px;">
		33.3% width - 3 content columns per row - 4 grid-cells wide
	</span>

</div>
<div class="col col--large-4">

	<!-- DEV-note: CONTENT AREA! -->
	<span style="display:block; background-color:#06c; padding:5px; width:100%; color:#fff; min-height:100px;">
		33.3% width - 3 content columns per row - 4 grid-cells wide
	</span>

</div>
